{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>{{ title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <a href="{% url 'ficha-create' %}" class="btn btn-primary float-right"><i class="fa fa-plus"></i> Aumenta</a>
                        </div>
                    </div>
                    <div class="table_section padding_infor_info">
                        <table class="table table-striped table-bordered dt-responsive nowrap datatable">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>No. Ficha</th>
                                    <th>Chefe Familia</th>
                                    <th>Aldeia</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ficha in fichas %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ ficha.no_ficha }}</td>
                                    <td>{{ ficha.chefe_familia }}</td>
                                    <td>{{ ficha.aldeia }}</td>
                                    <td>
                                        <a href="{% url 'ficha-update' ficha.no_ficha %}" class="btn btn-success btn-sm"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="{% url 'ficha-detail' ficha.no_ficha %}" class="btn btn-info btn-sm"><i class="fa fa-eye"></i> Detail</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 